html {
    background-color: rgb(232, 238, 221);
}

h2 {
    color: rgb(105, 73, 187);

}
a {
    color: rgb(105, 73, 187);
    font-size: 20px;
    font-weight: bold;
}
.block {
    width: 300px;
    background-color: rgb(181, 225, 241);
    border: 3px solid rgb(173 147 135);;
    padding: 20px 10px 20px 30px;
    /*margin: 30px 20px 10px 50px;*/
}
.section {
    display: flex;
    /* justify-content: center; если в один ряд по горизонтали*/
    flex-direction: column;
    align-items: center;
}
.card {
   width: 500px;
   padding: 10px;
}
